{% extends "layout.html" %}
    {% block body %}
    <div align="center"><script language="Javascript" src="http://sa.sayaclar.com/c/s4.php?a=x4qrob0&s=1a7"></script></div>

    <br>
    <div style="color:rgb(48, 130, 181);">
    <div class = "jumbotron text-center">
    <h3>Bilgisayar Operatörlüğü'nün ilk forum sayfasına hoş geldin!</h3>
    </div>
    <div class = "jumbotron text-left">
        <p>Bu forumda bölümünüzle alakalı teknik, yazılımsal ve donanımsal her türlü desteği alabilir, projelerinizi paylaşabilir ve
            projelerinizizdeki hataları, eksikleri forumdaki diğer arkadaşlarımıza danışabilirsiniz. Ayrıca foruma giriş yaptıktan sonra
            kontroller menüsü adı altında bulunan 'Bu Haftanın Filmi'ne tıklayarak haftalık olarak yüklediğimiz filmleri izleyebilir,
            sizlerin de görmek istediği veya önerdiği filmler varsa yorum yaparak belirtebilirsiniz.
            Unutmayın; BURASI SİZİN YERİNİZ.
        </p>
    </div>
    </div>
    </div>
    {% endblock %}