{% extends "layout.html" %}
{% block body %}
<br>
<div style="color:rgb(48, 130, 181);">
<div class = "jumbotron text-center">
    <div class="container">
    <h3>İşte İletişim Adreslerimiz!</h3>
    <hr>
<p>Burada bulunan iletişim adreslerini kullanarak bizimle iletişime geçebilirsiniz. 
    Bize sorunlarınızı ya da görüşlerinizi bildirebilir, kendimizi geliştirmemize yardımcı olabilirsiniz.
</div>
</div>
<div class = "jumbotron text">
</p>
<h5>
    İletişim Bilgilerimiz
    <hr>
</h5>
    <div style="color: red;">
Kurumsal mail adresimiz :<hr>
</div>
<p>yejofo1637@yehudabx.com</p>

<div style="color: red;">
Faks Numarası : </div> <hr>
<p>90 (362) 828 95 47</p>
<div style="color: red;">
    Cep Telefonu : </div> <hr> 
<p>+90 (596) 322 32 32</p>
<div style="color: red;">
    Sosyal Medya Hesaplarımız : </div> <hr> 
    <a href="http://Instagram.com/savunmabakanligi" target=new><img src="http://in.sitekodlari.com/insta/10.png" border="0"></a>
    <a href="http://twitter.com/tcsavunma" target=new><img src="http://in.sitekodlari.com/tw/8.png" border="0"></a>
</div>
<div class = "jumbotron text-left">
<div style="color: red;">
    Adresimiz : </div> <hr> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.124584601399!2d32.84762991462061!3d39.91622807942634!
    2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f05d6150951%3A0xa24e67ef0e491086!2zTWlsbGkgU2F2dW5tYSBCYWthbmzEscSfxLE!5e0!3m2!1str!2str!4v1615640438030!5m2!1str!2str"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
    {% endblock %}