{% extends "layout.html" %}
{% block body %}
<div style="color:rgb(48, 130, 181);">
{% from 'includes/formhelpers.html' import render_field %}
<br>
<div class = "jumbotron text-center">
  <h3>KAYIT OL </h3>
<hr>
<form method=post>
    <dl>
      {{ render_field(form.isim, class = "form-control") }}
      {{ render_field(form.kullaniciadi, class = "form-control") }}
      {{ render_field(form.email, class = "form-control") }}
      {{ render_field(form.parola, class = "form-control") }}
      {{ render_field(form.confirm, class = "form-control") }}
    </dl>
    <button type="submit" class="btn btn-success">Kayıt Ol</button>
  </form>
</div>
</div>
</div>
{% endblock %}