{% extends "layout.html" %}
{% block body %}
{% if sorun %}
<div style="color:rgb(48, 130, 181);">
<br>
<div class = "jumbotron text-left">
<h4>{{sorun.baslik}}</h4>
<hr>
Sorunun Yazarı: {{sorun.yazar}}
<hr>
Sorunun Tarihi: {{sorun.soruntarihi}}
<hr>
{{sorun.icerik |safe}}
<hr>
<div id="HCB_comment_box"><a href="http://127.0.0.1:5000"></a></div>
<script type="text/javascript" id="hcb">if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(""+window.location || hcb_user.PAGE), h="//www.htmlcommentbox.com"
;s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})();</script>
</div>
{% else %}
<br>
<div class="alert alert-warning">
Böyle Bir Sorun Bulunamadı!
{% endif %}
</div>
</div>
{% endblock body %}