{% extends "layout.html" %}
{% block body %}
<br>
<div style="color:rgb(48, 130, 181);">
<div class="jumbotron text">
<h4>Sizler İçin Yapabileceklerimiz
    <hr>
<p>Forumumuza hoş geldiniz. Burada önceliğimiz bizler gibi Bilgisayar Operatörlüğü bölümünde eğitim gören arkadaşlarımızın
    yardım ihtiyaç duyduğu konularda yardım etmek, birlikte aktiviteler yapmak ve bilenin bilmeyene destek olmasıdır. İhtiyaç duyduğunuz her
    konuda sizlere yardım etmekten mutluluk duyarız. Yardım istediğiniz konularda forumumuza kayıt olarak sorunlarınızı iletebilir, konu hakkında
    bilgi sahibi arkadaşlar tarafından yardım alabilirsiniz.
</p>
</div>
</h4>
{% endblock %}